<div class="container" style="padding-bottom: 30px">
  <ul class="text-center">
    <li class="navbar">
      <a ui-sref="patients" class="nav">Patients</a>
    </li>
    <li class="navbar">
      <a ui-sref="logout" class="nav">Logout</a>
    </li>
  </ul>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="header">{{ heading }}</h1>
    </div>
  </div>
  <div class="form-group">
    <label style="float: left; margin-right: 5px">Chart Number: </label>
    <div class="input-group">
      <input type="text" class="form-control" ng-model="patient.chartNo">
    </div>
  </div>
  <div class="row">
    <div class="formHeader form-group col-sm-12">
      <h3>
        <strong>Demographics</strong>
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-4">
      <label>First: </label>
      <input type="text" class="form-control" placeholder="First Name" ng-model="patient.firstName">
    </div>
    <div class="form-group col-sm-4">
      <label>Middle: </label>
      <input type="text" class="form-control" placeholder="Middle Name (if any)" ng-model="patient.middleName">
    </div>
    <div class="form-group col-sm-4">
      <label>Last: </label>
      <input type="text" class="form-control" placeholder="Last Name" ng-model="patient.lastName">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-4">
      <label>Date of Birth: </label>
      <input type="date" class="form-control" ng-model="patient.dob">
    </div>
    <div class="form-group col-sm-4">
      <label>Gender: </label>
      <select class="form-control" ng-model="patient.gender">
        <option>Female</option>
        <option>Male</option>
      </select>
    </div>
    <div class="form-group col-sm-4">
      <label>Phone Number: </label>
      <input type="text" class="form-control" placeholder="(123) 456-7890" ng-model="patient.phone">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-12">
      <label>Email: </label>
      <input type="text" class="form-control" placeholder="edeth.shwitsziger@gmail.com" ng-model="patient.email">
    </div>
  </div>
  <div class="row">
    <div class="formHeader form-group col-sm-12">
      <h3>
        <strong>Primary Address</strong>
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-8">
      <label>Street: </label>
      <input type="text" class="form-control" ng-model="patient.street">
    </div>
    <div class="form-group col-sm-4">
      <label>City: </label>
      <input type="text" class="form-control" ng-model="patient.city">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-6">
      <label>State: </label>
      <select class="form-control" ng-model="patient.state">
        <option>California</option>
        <option>Connecticut</option>
        <option>Florida</option>
        <option>Georgia</option>
        <option>Hawaii</option>
        <option>Illinois</option>
        <option>Indiana</option>
        <option>Maryland</option>
        <option>Michigan</option>
        <option>Minnesota</option>
        <option>New Hampshire</option>
        <option>New Jersey</option>
        <option>New York</option>
        <option>Ohio</option>
        <option>Pennsylvania</option>
        <option>Rhode Island</option>
        <option>South Carolina</option>
        <option>Tennessee</option>
        <option>Texas</option>
        <option>Virginia</option>
      </select>
    </div>
    <div class="form-group col-sm-6">
      <label>Zip: </label>
      <input type="text" class="form-control" ng-model="patient.zip">
    </div>
  </div>
  <div class="row">
    <div class="formHeader form-group col-sm-12">
      <h3>
        <strong>Background Information</strong>
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-3">
      <label>Ethnicity: </label>
      <select class="form-control" ng-model="patient.ethnicity">
        <option>Hispanic/Latino</option>
        <option>Non Hispanic/Latino</option>
      </select>
    </div>
    <div class="form-group col-sm-3">
      <label>Race: </label>
      <select class="form-control" ng-model="patient.race">
        <option>American Indian/Alaska Native</option>
        <option>Asian</option>
        <option>Black or African American</option>
        <option>Native Hawaiian/Other Pacific Islander</option>
        <option>White</option>
        <option>Other</option>
      </select>
    </div>
    <div class="form-group col-sm-3">
      <label>Marital Status: </label>
      <select class="form-control" ng-model="patient.maritalStatus">
        <option>Single</option>
        <option>Divorced</option>
        <option>Married</option>
        <option>Widow</option>
      </select>
    </div>
    <div class="form-group col-sm-3">
      <label>Preferred Language: </label>
      <select class="form-control" ng-model="patient.prefLang">
        <option>English</option>
        <option>Spanish</option>
        <option>Vietnamese</option>
        <option>Other</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="formHeader form-group col-sm-12">
      <h3>
        <strong>Emergency Contact</strong>
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-4">
      <label>Full Name: </label>
      <input type="text" class="form-control" placeholder="First and last name" ng-model="patient.emergencyName">
    </div>
    <div class="form-group col-sm-4">
      <label>Phone Number: </label>
      <input type="text" class="form-control" placeholder="(123) 456-7890" ng-model="patient.emergencyNum">
    </div>
    <div class="form-group col-sm-4">
      <label>Relationship to Patient: </label>
      <select class="form-control" ng-model="patient.relationship">
        <option>Spouse</option>
        <option>Mother</option>
        <option>Father</option>
        <option>Grandmother</option>
        <option>Grandfather</option>
        <option>Grandaughter</option>
        <option>Grandson</option>
        <option>Daughter</option>
        <option>Son</option>
        <option>Sister</option>
        <option>Brother</option>
        <option>Aunt</option>
        <option>Uncle</option>
        <option>Other</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-12">
      <h3 class="formHeader">
        <strong>Notes</strong>
      </h3>
      <textarea type="text" class="form-control" rows="3" placeholder="Drug allergies, food allergies, immunizations, diagnoses, etc..."
        ng-model="patient.notes">
      </textarea>
    </div>
  </div>
  <button class="btn btn-default btn-sm pull-right" ng-show="submitButton" ng-click="addPatient()">Submit</button>
  <button class="btn btn-default btn-sm pull-right" ng-show="!submitButton" ng-click="updatePatient()">Update</button>
</div>